<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     
    <!-- Fuente Roboto tamaño 300-400 y 700-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="Imagenes/iluminati.png">
    <link href="CSS/registro_trabajadores.css"rel="stylesheet" >

    <title>Registro de Trabajadores</title>

  </head>

  <body>
     <section >
        <div class="row no-gutters bg-dark">
            <div class="col-xl-5 col-lg-12 register-bg">
            
            </div>

            <div class="col-xl-7 col-lg-12 d-flex">
                <div class="container align-self-center p-6">
                    <h1 class="font-weight-bold mb-3">Registro de Trabajadores</h1> <!--font-weight-bold es para dejar en negrita lo escrito  y mb-3 para darle formato-->

                    
                    <p class="text-muted mb-5">Ingresa la siguiente información para registrarte.</p>


                    <form>
                            <!--Nombre-->
                        <div class="form-row mb-3">
                            <div class="form-group col-md-6"> <!--barra del boton  se puede arreglar el tamaño de la columna-->
                                <label class="font-weigth-bold">Nombre <span class="text-danger">*</span> </label><!-- El span con el text danger es para el asterisco dejarlo en rojo como si fuera obligatorio-->
                                <input type="text" class="form-control" placeholder="Ingrese su Nombre"> <!-- barra donde pide el nombre-->
                            </div>
                            <!--Apellido-->
                            <div class="form-group col-md-6"> 
                                <label class="font-weigth-bold">Apellido <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Ingrese su Apellido"> 
                            </div>
                            <!--Rut-->
                            <div class="form-group col-md-6"> 
                                <label class="font-weigth-bold">Rut <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Ingrese su Rut" maxlength="12"> 
                            </div>
                        </div>
                        <!--Correo-->
                            <div class="form-group mb-3 "> 
                                <label class="font-weigth-bold">Email <span class="text-danger">*</span> </label>
                                <input type="email" class="form-control" placeholder="Ingrese su Email"> 
                            </div>                      
                        
                         <!--Botones de registra y cancelar-->
                         <button type="submit" class="btn btn-primary width-100">Registrar </button>
                         <a href="Dashboard.html"><button type="button" class="btn btn-secondary width-100">Cancelar </button></a>
                             
                            
                    </form>
                           <small class="d-inline-block text-muted mt-5"> Todos los derechos reservados Group 3 at DuocUc  | © 2022 </small>
                   
                   
                </div>
            </div>
          
        </div>
     </section>
     <!-- Optional JavaScript; choose one of the two! -->
 
     <!-- Option 1: Bootstrap Bundle with Popper -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

   
   
    </body>
</html>




