{% extends 'gestor/home.html'%}
{% load static %}
{% block content %}

{% load crispy_forms_tags %}

<br>

<div class="row">
    <div class="col-12 col-md-6 ">
        <h1 style="border: 50px solid rgb(255, 255, 255);">Formulario de Centros</h1>
        <hr>
        <form style="border: 50px solid rgb(255, 255, 255);" action="" classs="formulario_centro" method="post">

            {% csrf_token %}

            {{ form | crispy }}

            <br>

            <div class="d-flex ">
                <button type="submit" class="btn btn-primary"> Editar</button>
                &nbsp;
                <a href="{% url 'list_centr'%}"> <button type="button"
                    class="btn btn-secondary">Cancelar</button></a>
            </div>
        </form>

        {{mensaje}}

    </div>

</div>


{% endblock %}