
{% extends 'gestor/home.html'%}
{% load static %}
{% block content %}

{% load crispy_forms_tags %}

<div class="row">
    <div class="col-12 col-md-6 offset-md-3">

        <div class="card">
            <div class="card-body">
                <h2>Formulario de Trabajadores</h2>
        
    <form action="" method="post">

        {% csrt_token %}
        {{ form | crispy }}

        <div class="d-flex justify-content-center">
            <input type="reset" value="Cancelar" class="btn btn-secondary">
             &nbsp;
            <input type="reset" value="guardar" class="btn btn-secondary">

        </div>
    </form>

            </div>

        </div>


    </div> 



</div>

{% endblock %}



