
{% extends 'gestor/home.html'%}
{% load static %}
{% block content %}


<div class="row">
    <div class="col-12 col-md-6 offset-md-3">

        <div class="card">
            <div class="card-body">
                <h2>Formulario de Trabajadores</h2>
        
    <form action="" classs="formulario_trabajador "method="post">

        {% csrf_token %}

        {{ form }}

        <div class="d-flex justify-content-center">
        <button type="submit" id="btnEnviar" class="button" value="Guardar"></button>
        <input type="reset" value="Cancelar" class="btn btn-secondary">
             &nbsp;
        <input type="reset" value="guardar" class="btn btn-secondary">

        </div>
    </form>
    {{mensaje}}

            </div>

        </div>


    </div> 



</div>

{% endblock %}



