{% extends 'gestor/home.html'%}

{% block content %}


<h1>Listado de Centros</h1>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="{% url 'form_centr'%}"> <button type="button" class="btn btn-dark">+ Nuevo
           Centro </button></a>
</div>
<hr>
<section class="webdesigntuts-workshop">
    <form action="" method="">
        <input type="search" placeholder="Ingrese Busqueda">
        <button class="btn btn-secondary"> Buscar</button>
    </form>
</section>
<br>
<table class="table table-striped table-hover table-responsive-sm">
    <thead class="table-dark">
        <tr>
            <th scope="col">Tipo centro</th>
            <th scope="col">Dirección</th>
            <th scope="col">Comuna</th>
            <th scope="col">Regiones</th>
            <th scope="col">Telefono</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for Centros in listado %}
        <tr>
            <th>{{Centros.tipo_centro}}</th>
            <td>{{Centros.direccion}} </td>
            <th>{{Centros.comuna}}</th>
            <td>{{Centros.region}}</td>
            <td>{{Centros.telefono}}</td>
            <td><a href="{% url 'edit_centr' Centros.id %}" class="btn btn-sm btn-block btn-info">Editar</a></td>
            <td><a href="{% url 'elim_centr' Centros.id %}" class="btn btn-sm btn-block btn-danger">Eliminar</a></td>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

<footer>
    <div class="d-flex justify-content-center">
        <a href="{% url 'Dashboard'%}"> <button type="button" type="button"
                class="btn btn-secondary">Volver</button></a>
    </div>
</footer>

{% endblock %}

</html>