{% extends 'gestor/home.html'%}

{% load static %}

{% block css %}

{% endblock %}

{% block content %}
    <title>Registro de Usuarios</title>

    <h1>Listado de Trabajadores</h1>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">

        <a href="{% url 'agregar_trabajador'%}"> <button type="button" class="btn btn-dark">+ Nuevo
                Trabajador</button></a>


    </div>

    <section class="webdesigntuts-workshop">
        <form action="" method="">
            <input type="search" placeholder="Ingrese Busqueda">
            <button>Correo Electronico</button>
        </form>
    </section>


    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Nombre de Usuario</th>
                <th scope="col">Rut</th>
                <th scope="col">Correo Electronico</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Erik Torres</th>
                <td>17.222.888-1 </td>
                <td>Erick@duocuc.cl</td>
                <td><a class="but" href="Dashboard.html">Editar</a></td>
            </tr>
        </tbody>


        {% for Trabajadores in listado %}
        <div class="task-wrapper" data-position="0">
            <div class="task-title">
                <div class="task-complete-icon"></div>
                <i><a href="http//#">{{Trabajadores.nombre}}</a></i>
            </div>
            <div div class="task-controls">
                <a class="delete-link" href="tarea_eliminar.html">&#215;</a>
                <span class="handle">&nbsp;&#10247;</span>
            </div>
        </div>
        {% endfor %}

    </table>

    {{listado}}

<footer>

    <a class="boton" href="Dashboard.html">Volver</a>


</footer>

{% endblock %}

</html>