body  {
    font-family: 'roboto';
    background: #4568DC;
    background: -webkit-linear-gradient( to right, #588fe2, #4568DC);
    background: linear-gradient( to right, #588fe2, #4568DC);
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contenedor{
    border: 1px solid black;
    width: 100%;
    padding: 10px;
}

.logo{
    border: 1px dashes red;
    width: 100px;
    float: right;

}

header {
    background-image:url(https://www.santiagotours.org/uploads/fotos/original/foto_4738_.jpg);
    width: 100%;
    height: 700px;
    color: white;
    text-align-last: center;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-attachment: fixed;
    position:absolute
}