html,

head{
  margin-top: 30px;

}

h1 {
  color: #ffffff;
  font-weight: normal;
  font-size: 30px;
  font-family: Arial;
  text-transform: capitalize;
}



body {
  height: 100%;
  height: 400px;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/98/801/179/twilight-sunset-mountains-dusk-wallpaper-preview.jpg");
background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
}

.input-group{
  margin-top: 10px;
}

.button{
  margin: 100px;
}

.table{
  margin-top: 50px;
  color: #000000; /*color texto*/
  background-color: #ffffff; /*color botón*/

}


.btnbtn-dark{
  margin-top: 50px;
  float: center;
}


footer{
  margin-top: 100px;
  margin-right:auto

}

  .boton {
    border: 1px #111111; /*anchura, estilo y color borde*/
    padding: 9px; /*espacio alrededor texto*/
    background-color: #111111; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    margin:690px;
    }

    .but{
      border: 1px #111111; /*anchura, estilo y color borde*/
      padding: 3px; /*espacio alrededor texto*/
      background-color: #111111; /*color botón*/
      color: #ffffff; /*color texto*/
      border-radius: 50px; /*bordes redondos*/
      text-decoration: none; /*decoración texto*/
      text-transform: lowercase; /*capitalización texto*/
      font-family: Arial, Helvetica, sans-serif /*tipografía texto*/
    }
