* {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  
  body {
    background-image: url(Imagenes/atardecer.jpg);
  }
  
  .row {
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
  }
  
  .card {
    width: 600px;
    height: 600px;
    background: inherit;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 0 500px rgba(255, 255, 255, 0.2);
  
  }