:root {
    /* colores que se pueden poner en todo el archivo */
    --color-dark: #15181f;
    --color-dark-x:#ffffff00;
    --color-dark-xx:#1f232b;  
    --color-light: #ffffff;
    --color-grey:#f5f6f8;   
}

body{
    background-image: url(https://cloudfront-us-east-1.images.arcpublishing.com/metroworldnews/PAW6O2JIVBDFTC3C3B4ZAVMNGA.jpg); 
    font-family: 'Roboto' ,'sanz-serif';
    color: var(--color-light); /*color de la letra*/
    height: auto;
    background-size: auto;
    background-repeat: no-repeat;
    
}

.container{
background-color: #ffffff71;
justify-content: space-between;
-webkit-box-shadow: 2px 2px 13px -4px rgb(243, 243, 243);
box-shadow: 2px 2px 13px -4px rgb(248, 248, 248);
border-radius: 5px 5px 0 0;

}

.header_form {
    text-align: center;
    justify-content: space-between;
    color: rgb(255, 254, 254);
    border-radius: 5px 5px 0 0;
    background: #000000;  
    margin-top:10px;
}

.formulario_trabajadores{
    box-shadow: -1px 1px 60px 10px rgb(102, 96, 151);
    background: rgba(253, 253, 253, 0.397);
    margin-top: 10px;
}
   
p {
    text-align: center;
    color: #15181f;
}

.btn {
    font-weight: 400;
    padding: 1rem 5rem;
    border-radius: 5rem;
    min-width: 10rem;
    margin-top: 10px;
}

.btn-outline-dark{
    border:2px solid var(--color-dark-xx);
}

.form-group.mb-3{
    box-shadow: -1px 1px 60px 10px rgb(99, 91, 160);
    background: black;
    
}

.form-control { /*campos de las cajas del formulario */
    background: transparent;
    border-bottom: 1px solid rgb(255, 253, 253);  /* color parte de abajo de los cuadros  */
    font-size: 18px;   /* tamaño de la fuente */
    color: var(--color-light);
    text-align: center;
}



















